@{
    ViewData["Title"] = "Horizon search";
}

<div class="offer">
    <div class="offer-text">
        <h1>
            Horizon search - сервис для поиска GitHub репозиториев
        </h1>
        <h2>Horizon search - покоряем новые горизонты вместе</h2>
        <a class="findBtn" asp-area="" asp-controller="Search" asp-action="Index" style="--clr:#5851bd">
            <span>Начать поиск</span><i></i>
        </a>
    </div>
    <div class="offer-image">
        <img src="~/images/offer-img.png" />
    </div>
</div>
